

.lap{
    height: 149px;
    width: 236;
    font-size: 30px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -55%);
    float: none;

}

.lap-time {
    background-color: white;
    color: black;
    border-radius: 7px;
    width: 166px;
    margin: 5px;
}

