body {
    background: gray;
    color: white;
}
button {
    width: 100px;
    height: 30px;
    border: 3px soldi white;
    border-radius: 50px;
    background: #202020;
    color: white;
    cursor: pointer;
    outline: none;
    transition: transform 0.3s;
    
}
button:hover{
    transform: scale(1.2);
    background: #F63854;
    color:white;
    transform: scale(1.2);
}
.separator {
    animation: blinker 1s linear infinite;
  }
  
@keyframes blinker {  
50% { opacity: 0; }
}
button:hover{
    background-color: skyblue;
}


#stopwatch {
    background-color: lightblue;
    color: black;
    font-size: 100px;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -55%);
    border-radius: 10px;
}
#buttons {
    position: absolute;
    top: 35%;
    left: 48.4%;
    transform: translate(-51.6%, -45%);
}
#buttons li {
    display: inline;
    padding-left: 10px;
}
#stopwatch.lap{
    position: relative;
}